@import "./style.css";

/* Profile Page */
.profile-btns{
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
.profile-btns button{
  margin: 0 1rem;
}
.profile-details {
  margin-top: 3rem;
}
.profile-details {
  list-style: none;
}
.profile-details li,
.profile-details li a {
  padding: 1rem 0;
  font-size: 1.6rem;
}

@media screen and (max-width: 400px) {
  .profile-details {
    padding: 0 10%;
    margin-top: 3rem;
  }
  .profile-image {
    width: 40vw;
  }
  .hero h2 {
    font-size: 8vw;
  }
}

/* Login Page */
.form{
  margin-top: 3rem;
  display:flex;
  flex-direction: column;
  max-width: 35rem;
}
.input-wrapper{
  width: 100%;
  position: relative;
  margin: .5rem auto;
}
.input-wrapper input{
  width: 100%;
}
.error-msg{
  color:var(--table);
  user-select: none;
  display: none;
  position: absolute;
  right:1.3rem;
  top:1.5rem;
  font-size: 1.15rem;
}
.form-btn{
  margin-top: 2rem;
  width:min-content;
}

@media screen and (max-width: 600px) {
  .form{
    align-items:flex-end;
    max-width: 95%;
    margin: auto;
    margin-top: 3rem;
  }

  #email-input,#password-input{
    width: 100%;
  }
}